{% extends 'base.html' %}
{% block content %}



    <header>
        <h1>{{ title }}</h1>
    </header>

    <section>
        <h2 class="text-center">Scan Stock </h2>


    </section>
    <div class="container">
        <div class="row">

            <div class="col-12">
                <table class="table custom-table">
                    <tr>
                        <th> ID</th>
                        <th>Code</th>
                        <th>Product Description</th>
                        <th>Category</th>
                        <th>Volume</th>
                        <th>Weight</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Sample data, you should replace this with dynamic data from your system -->
                    {% for stock in qc_stocks %}
                        <tr>
                            <td>{{ stock.id }}</td>
                            <td>{{ stock.product.product_code }}</td>
                            <td>{{ stock.product.product_description }}</td>
                            <td>{{ stock.product.product_category }}</td>
                            <td>{{ stock.product.product_volume }}</td>
                            <td>{{ stock.product.product_weight }}</td>
                            <td>
                                <a class="btn btn-sm btn-success"
                                   href="{% url 'products:update-qc-stock' stock.id %}">Add Stock</a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>


            </div>
        </div>
    </div>




{% endblock content %}