{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <header>
        <h1>{{ title }}</h1>
    </header>
    <div class="container">
        <div class="row mt-5">
                <div class="col-8">
                    <div class="card">
                      <div class="card-header">
                        Product Details
                      </div>
                      <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>ID: {{ product.product_code }}</p>
                            <p> Description: {{ product.product_description }}</p>
                            <p>Category: {{ product.product_category }}</p>
                        </blockquote>
                      </div>
                    </div>
                </div>
        </div>
        <div class="row mt-5">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <form method="post" class="post-form">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="text-right">
                                <button type="submit" class="save btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
